polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.fwupd.refresh-remote" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
